.main-container {
  width: 90vw;
  height: 90vh;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  padding: 24px;
  flex-wrap: wrap;
}
.container {
  display: flex;
  gap: 30px;
  height: 80%;
}

.header {
  height: 20%;
}
